<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <form action="persons" method="post">

    <input type="text" name="name" id="name"><br>
    <input type="text" name="email" id="email"><br>
   <input type="submit" value=" add member">

</form>
    
    <h1>about</h1>
    <% persons.forEach(function(eachPerson) { %>

   <li><%= eachPerson.name  %>      <%= eachPerson.email  %> </li> 

    <% }) %>
</body>
</html>